* {
    box-sizing: border-box;
  }
  body{
     direction: rtl;
     text-align: right;
     margin: 0;
     padding: 0;
  }
  .menu{
      list-style: none;
  }
  ul{
      padding: 0;
  }
  .dropdown, .navbottom li {
    display: inline;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #C0C0C0;
  }
  .red{
    color: #F83636;
  }
  a{
      text-decoration: none;
      color: white;
      padding: 5px;
  }
  a:hover{
    text-decoration:underline;
    color:#4C4CAC;
  }
  .btmp > a:hover{
    color: #4C4CAC !important;
   /* background-color: red;*/
  }
  .header{
      padding: 10px;
      background-color: gray;
      text-align: center;
      top: 0;
  }
  .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown-content{
      display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: gray;
    color: white;
    padding:15px; 
    z-index: 5;
  }
  .dropmenu{
    list-style:none;
    padding:0;
  }
  .dropmenu >li> a:hover{
    background-color: white;
    text-decoration:underline;
    color:#4C4CAC;
  }
  .footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    text-align: center;
    background-color: gray;
    width: 1400px;
    margin: auto;
  }
  .navigation-menu{
    position: relative;
  }
  .toplogo{
    position: absolute;
    right: 30px;

  }

  .firstline , .secondline{
    margin: auto;
   /* border: 1px solid black;*/
    width: 1000px;
    height: 400px;
  /* position: relative;*/
   padding: 20px;
  
  }
  .big-picture{
    position: relative;
    float: right;
   /* width: 293px;*/
    height: 355px;
    width: 30%;
    margin: 10px; 
    text-align: center;
    
  }
  .big-pictures::after{
    content:"";
    display:table;
    clear: both;
  }
  .bg-1{
     border-radius:0 0 25px;
  }
  .bottom-picture{
    position: absolute;
    bottom: 15px;
    right: 40px;
    border: 1px solid black;
    height: 97px;
    width: 230px;
    border-radius:0 0 25px;
    background-color:rgba(138, 135, 135, 0.85);
    padding: 10px;
  }
  p{
    display: block;
    margin: 0;
    padding: 0;
  }
  .bottom-picture > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    line-height: 1;
    margin-top: 4px;
    text-align: right;
  }


  #head-text{
  /* color: white;*/
   display: block;
   text-align: right;
   /*margin-right: 10px;*/
   margin-top: 0;
   font-weight: bold;
   font-size: 15px;


  }
 
  #btma{
    float: left;
    position: relative;
    bottom: 4px;
    margin-left: 5px;
   /* padding-left:10px;*/
    padding: 0;
  

  }
  .small-pic{
    position: relative;
    float: right;
    height: 355px;
    width: 30%;
    margin: 10px; 
    text-align: center;
  }
  .smlp{
    height: 216px;
    width: 300px;
  }
  .slp{
    position: absolute;
    top: 55px;
    right: 20px;
    margin: 5px;
    width: 250px;
    height: 110px;
  }
  #map{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;

  }
  .small-pic::after{
    content:"";
    display:table;
    clear: both;
  }
 h3{
   position: absolute;
   top:10px;
   right: 45px;
   margin: 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
  
 }
 /*.btma{
   color: black;
 }*/
 #btma1{
  position: absolute;
  top: 170px;
  color: grey;
  left: 45px;
  margin: 5px;
  text-decoration: underline;
 /* background: url(images\read_more_white.png) no-repeat left center;*/
 }
 
 .btma1{
   color: grey;
  /* display:inline-block;*/
   /*position: absolute;*/
   top: 70px;
   right: 45px;
 }

 #map-menu li a{
   text-decoration: underline;
   display: block;
 }
 #map-btmp{
   position: absolute;
   list-style: none;
   right: 65px;
   top: 60px;

 }

