* {
    box-sizing: border-box;
  }
  body{
      width: 1200px;
      margin: auto;
  }
  .menu{
      list-style: none;
  }
  ul{
      padding: 0;
  }
  .dropdown, .navbottom li {
    display: inline;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #C0C0C0;
  }
  a{
      text-decoration: none;
      color: white;
      padding: 5px;
  }
  .menu > li > a:hover , .navbottom > li> a:hover{
    text-decoration:underline;
    color:#4C4CAC;
  }
  .header{
      padding: 10px;
      background-color: gray;
      text-align: center;
  }
  .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown-content{
      display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: gray;
    color: white;
    padding:15px; 
  }
  .dropmenu{
    list-style:none;
    padding:0;
  }
  .footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    text-align: center;
    background-color: gray;
    width: 1200px;
    margin: auto;
  }